.custom-login-container {
  position: fixed!important;
  top: 0!important;
  left: 0!important;
  width: 100vw!important;
  height: 100vh!important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}

.custom-login-container .login-box {
  width: 400px!important;
  margin: 0px auto!important;
  padding-top: 0px!important;
}
