.row-group {
  background-color: rgb(211, 252, 252)!important;
  /* color: black !important; */
  /* text-decoration: none!important;
  border-bottom: 2px dashed!important; */
}

.row-group-child {
  background-color: rgb(183, 251, 251)!important;
  /* color: black !important; */
  /* text-decoration: none!important;
  border-bottom: 2px dashed!important; */
}

.row-first-column {
  background-color: rgb(234, 252, 252)!important;
  /* color: black !important; */
  /* text-decoration: none!important;
  border-bottom: 2px dashed!important; */
}
