<div style="margin: 0px 5px 0px 5px;" class="row g-4">
  <div class="col-12">
    <div class="bg-white rounded h-100 p-0">
      <!-- <h6 class="mb-4">TITRE</h6> -->

      <div class="rounded p-6">
        <form [formGroup]="_formGroup" (ngSubmit)="SHOW_DATA($event)" novalidate>

          <div class="row">
            <div *ngIf="Countries$.length > 1 && countries.length === 0 || countries.length > 1" class="col-sm-2 col-xl-2">
                <select (change)="regionsGenerate()" class="orgunit-style form-select mb-2" formControlName="country">
                  <option *ngFor="let c of countries" [value]="c.id" [selected]="isSelected(c.id, 'country')">
                    {{ c.name }}
                  </option>
              </select>
            </div>
            <div *ngIf="Regions$.length > 1 && regions.length === 0 || regions.length > 1" class="col-sm-2 col-xl-2">
              <select (change)="prefecturesGenerate()" class="orgunit-style form-select mb-2" formControlName="region">
                <option *ngFor="let r of regions" [value]="r.id" [selected]="isSelected(r.id, 'region')">
                  {{ r.name }}
                </option>
              </select>
            </div>
            <div *ngIf="Prefectures$.length > 1 && prefectures.length === 0 || prefectures.length > 1" class="col-sm-2 col-xl-2">
              <select (change)="communesGenerate()" class="orgunit-style form-select mb-2" formControlName="prefecture">
                <option *ngFor="let p of prefectures" [value]="p.id" [selected]="isSelected(p.id, 'prefecture')">
                  {{ p.name }}
                </option>
              </select>
            </div>
            <div *ngIf="Communes$.length > 1 && communes.length === 0 || communes.length > 1" class="col-sm-2 col-xl-2">
              <select (change)="hospitalsGenerate()" class="orgunit-style form-select mb-2" formControlName="commune">
                <option *ngFor="let c of communes" [value]="c.id" [selected]="isSelected(c.id, 'commune')">
                  {{ c.name }}
                </option>
              </select>
            </div>
            <div *ngIf="Hospitals$.length > 1 && hospitals.length === 0 || hospitals.length > 1" class="col-sm-2 col-xl-2">
              <select (change)="districtsGenerate()" class="orgunit-style form-select mb-2" formControlName="hospital">
                <option *ngFor="let h of hospitals" [value]="h.id" [selected]="isSelected(h.id, 'hospital')">
                  {{ h.name }}
                </option>
              </select>
            </div>
            <div *ngIf="DistrictQuartiers$.length > 1 && districtQuartiers.length === 0 || districtQuartiers.length > 1" class="col-sm-2 col-xl-2">
              <select (change)="recosGenerate()" class="orgunit-style form-select mb-2" formControlName="district_quartier">
                <option *ngFor="let d of districtQuartiers" [value]="d.id"
                  [selected]="isSelected(d.id, 'district_quartier')">
                  {{ d.name }}
                </option>
              </select>
            </div>
            <div *ngIf="Recos$.length > 1" class="col-sm-2 col-xl-2">
              <!-- <select class="orgunit-style form-select mb-2" multiple
                formControlName="recos">
                <option *ngFor="let r of recos" [value]="r.id" [selected]="isSelected(r.id, 'recos')">
                  {{ r.name }}
                </option>
              </select> -->

              <div *ngIf="(Recos$.length > 1 && recos.length === 0) || recos.length > 1" class="reco-list-container orgunit-style form-selec mb-2">
                <div *ngIf="recos.length > 0" style="color:darkblue; width: 200%; font-weight: bold;">
                  <input type="checkbox" [checked]="_formGroup.value.recos.length === recos.length" (change)="selectAllRecos()" id="reco-list-all"> <label for="reco-list-all"> Tout sélectionner</label>
                </div>
                <div *ngFor="let r of recos" class="reco-list {{ isSelected(r.id, 'recos') ? 'reco-selected' : '' }}" (click)="onCheckboxChange(r.id, $event)">
                  {{ r.name }}
                </div>
              </div>
            </div>

            <div *ngIf="Years$.length > 0" class="col-sm-2 col-xl-2">
              <select class="orgunit-style form-select mb-2" formControlName="year">
                  <option *ngFor="let y of Years$" [value]="y" [selected]="isSelected(y, 'year')">
                    {{ y }}
                  </option>
              </select>
            </div>
            <div *ngIf="Months$.length > 0" class="col-sm-2 col-xl-2">
              <select class="orgunit-style form-select mb-2" formControlName="months">
                  <option class="{{ isSelected(m.id, 'month') ? 'selected' : ''}}" *ngFor="let m of Months$" [value]="m.id" [selected]="isSelected(m.id, 'month')">
                    {{ m.labelFR }}
                  </option>
              </select>
            </div>
            <div class="col-sm-3 col-xl-2">
              <button style="width: 100%;" [disabled]="data_syncing" class="btn btn-info">
                Charger
                <span *ngIf="data_syncing" class="fas fa-1x fa-sync-alt fa-spin"></span>
              </button>
            </div>

          </div>

        </form>
      </div>

      <div style="padding-top: 20px;" class="table-responsive">
        <!-- <table class="table table-bordered table-dark table-hover table-striped"> -->
        <table class="table table-bordered table-hover">
          <thead class="no-border">
            <tr>
              <td style="height: 30px!important;" colspan="9">
                <h5 style="color: black!important;text-align: left!important;">
                  SITUATION MEG STOCK DES RECO
                </h5>
              </td>
            </tr>
          </thead>

          <tr class="no-border">
            <td class="separation" colspan="9"></td>
          </tr>

          <thead>
            <tr class="table-head fp-header-1">
              <th rowspan="2" style="width: 3%;" scope="col">N°</th>
              <th rowspan="2" scope="col">MEG / INTRANTS</th>
              <th rowspan="2" style="width: 10%;" scope="col"><b>Stock disponible</b></th>
              <th style="text-align: center;" colspan="6">MOUVEMENT MEG / INTRANTS DE <b>{{ MONTH }} / {{ YEAR }}</b></th>
            </tr>
            <tr class="table-head fp-header-1">
              <th style="width: 10%;" scope="col">Entré en stock</th>
              <th style="width: 10%;" scope="col">Distribué</th>
              <th style="width: 10%;" scope="col">Perdu</th>
              <th style="width: 10%;" scope="col">Endomagé</th>
              <th style="width: 10%;" scope="col">Cassé</th>
              <th style="width: 10%;" scope="col">Périmé</th>
            </tr>
          </thead>

          <tbody  *ngIf="RECO_MEG$">
            <tr *ngFor="let rm of RECO_MEG$">
              <th scope="row">{{ rm.index }}</th>
              <th>{{ rm.label }}</th>
              <th class="{{ quantityStyle(rm.available_stock) }}">{{ rm.available_stock }}</th>
              <th class="{{ quantityStyle(rm.month_stock) }}">{{ rm.month_stock }}</th>
              <th class="{{ quantityStyle(rm.consumption) }}">{{ rm.consumption }}</th>
              <th class="{{ quantityStyle(rm.loss) }}">{{ rm.loss }}</th>
              <th class="{{ quantityStyle(rm.damaged) }}">{{ rm.damaged }}</th>
              <th class="{{ quantityStyle(rm.broken) }}">{{ rm.broken }}</th>
              <th class="{{ quantityStyle(rm.obselete) }}">{{ rm.obselete }}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

