<div class="report-style row g-4">
  <div class="col-12">
    <div class="bg-white rounded h-100 p-0">
      <!-- <h6 class="mb-4">TITRE</h6> -->


      <dashbords-orgunit-selector
        [id]="'vc-repports-orgunit'"
        [ON_FETCHING]="ON_FETCHING === true"
        (ON_SHOW_DATA)="SHOW_DATA($event)">
      </dashbords-orgunit-selector>

      <div style="padding-top: 110px;" class="table-responsive">
        <!-- <table class="table table-bordered table-dark table-hover table-striped"> -->
        <table class="table table-bordered table-hover">
          <thead class="no-border">
            <tr>
              <td class="repport-title" colspan="21">
                LIST DES MOINS DE 5 ANS AVEC VACCINS NON A JOUR
              </td>
            </tr>
          </thead>

          <tr class="no-border">
            <td class="separation" colspan="21"></td>
          </tr>
          <!-- <th style="text-align: center;" colspan="6">SITUA <b>{{ MONTH }} / {{ YEAR }}</b></th> -->

          <thead style="font-size: 14px!important;">
            <tr class="table-head fp-header-1">
              <th [rowSpan]="2" style="width: 5px;" scope="col">N°</th>
              <th class="vaccine-big-head" [rowSpan]="2" scope="col">Ménage</th>
              <th class="vaccine-big-head" [rowSpan]="2" scope="col">Nom</th>
              <th [rowSpan]="2" style="width: 5px;" class="vaccine-big-head" scope="col">Sexe</th>
              <th class="vaccine-big-head" [rowSpan]="2" scope="col">Age</th>
              <th [rowSpan]="2" style="width: 5px;" class="vaccine-big-head" scope="col">Code</th>
              <th [rowSpan]="2" style="width: 5px;" class="vaccine-big-head" scope="col">Phone</th>
              <th class="vaccine-big-head" [colSpan]="2" scope="col">Naissance</th>
              <th class="vaccine-big-head" [colSpan]="2" scope="col">6 semaines</th>
              <th class="vaccine-big-head" [colSpan]="2" scope="col">10 semaines</th>
              <th class="vaccine-big-head" [colSpan]="3" scope="col">14 semaines</th>
              <th class="vaccine-big-head" [colSpan]="3" scope="col">9 mois</th>
              <th class="vaccine-big-head" [colSpan]="2" scope="col">15 mois</th>
            </tr>
            <tr class="table-head fp-header-1">
              <th class="vaccine-head" scope="col">BCG</th>
              <th class="vaccine-head" scope="col">VPO_0</th>
              <th class="vaccine-head" scope="col">PENTA_1</th>
              <th class="vaccine-head" scope="col">VPO_1</th>
              <th class="vaccine-head" scope="col">PENTA_2</th>
              <th class="vaccine-head" scope="col">VPO_2</th>
              <th class="vaccine-head" scope="col">PENTA_3</th>
              <th class="vaccine-head" scope="col">VPO_3</th>
              <th class="vaccine-head" scope="col">VPI_1</th>
              <th class="vaccine-head" scope="col">VAR_1</th>
              <th class="vaccine-head" scope="col">VAA</th>
              <th class="vaccine-head" scope="col">VPI_2</th>
              <th class="vaccine-head" scope="col">MEN_A</th>
              <th class="vaccine-head" scope="col">VAR_2</th>
            </tr>
          </thead>
          <tbody style="font-size: 14px!important;" *ngFor="let vacs of (RECO_VACCINES$ ?? [])">
            <ng-container *ngFor="let cv of vacs.children_vaccines">
              <tr>
                <th style="padding: 2px;" [attr.rowspan]="cv.data.length" scope="row">{{ cv.family_code }}</th>
                <th style="padding: 2px;" [attr.rowspan]="cv.data.length">{{ cv.family_fullname.replace(cv.family_code
                  +' - ', '') }}</th>

                <!-- First row of data -->
                <ng-container *ngIf="cv.data.length > 0">
                  <ng-container *ngFor="let v of cv.data; let i = index">
                    <ng-container *ngIf="i === 0">
                      <th style="padding: 2px;">{{ v.child_name }}</th>
                      <th style="padding: 2px;">{{ v.child_sex }}</th>
                      <th style="padding: 2px;">{{ v.child_age_str }}</th>
                      <th style="padding: 2px;">{{ v.child_code }}</th>
                      <th style="padding: 2px;">{{ v.child_phone }}</th>
                      <th *ngIf="vaccineUtils(v.vaccine_BCG, v.child_age_in_days, 0) as BCG" [ngClass]="BCG.class">
                        <span [innerHTML]="BCG.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_VPO_0, v.child_age_in_days, 0) as VPO0" [ngClass]="VPO0.class">
                        <span [innerHTML]="VPO0.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_PENTA_1, v.child_age_in_days, 42) as PENTA1"
                        [ngClass]="PENTA1.class">
                        <span [innerHTML]="PENTA1.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_VPO_1, v.child_age_in_days, 42) as VPO1" [ngClass]="VPO1.class">
                        <span [innerHTML]="VPO1.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_PENTA_2, v.child_age_in_days, 70) as PENTA2"
                        [ngClass]="PENTA2.class">
                        <span [innerHTML]="PENTA2.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_VPO_2, v.child_age_in_days, 70) as VPO2" [ngClass]="VPO2.class">
                        <span [innerHTML]="VPO2.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_PENTA_3, v.child_age_in_days, 98) as PENTA3"
                        [ngClass]="PENTA3.class">
                        <span [innerHTML]="PENTA3.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_VPO_3, v.child_age_in_days, 98) as VPO3" [ngClass]="VPO3.class">
                        <span [innerHTML]="VPO3.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_VPI_1, v.child_age_in_days, 98) as VPI1" [ngClass]="VPI1.class">
                        <span [innerHTML]="VPI1.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_VAR_1, v.child_age_in_months, 9) as VAR1"
                        [ngClass]="VAR1.class">
                        <span [innerHTML]="VAR1.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_VAA, v.child_age_in_months, 9) as VAA" [ngClass]="VAA.class">
                        <span [innerHTML]="VAA.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_VPI_2, v.child_age_in_months, 9) as VPI2"
                        [ngClass]="VPI2.class">
                        <span [innerHTML]="VPI2.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_MEN_A, v.child_age_in_months, 15) as MENA"
                        [ngClass]="MENA.class">
                        <span [innerHTML]="MENA.action | safeHtml"></span>
                      </th>
                      <th *ngIf="vaccineUtils(v.vaccine_VAR_2, v.child_age_in_months, 15) as VAR2"
                        [ngClass]="VAR2.class">
                        <span [innerHTML]="VAR2.action | safeHtml"></span>
                      </th>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </tr>

              <!-- Remaining rows for the same cv -->
              <ng-container *ngFor="let v of cv.data; let i = index">
                <tr *ngIf="i !== 0">
                  <th style="padding: 2px;">{{ v.child_name }}</th>
                  <th style="padding: 2px;">{{ v.child_sex }}</th>
                  <th style="padding: 2px;">{{ v.child_age_str }}</th>
                  <th style="padding: 2px;">{{ v.child_code }}</th>
                  <th style="padding: 2px;">{{ v.child_phone }}</th>
                  <th *ngIf="vaccineUtils(v.vaccine_BCG, v.child_age_in_days, 0) as BCG" [ngClass]="BCG.class">
                    <span [innerHTML]="BCG.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_VPO_0, v.child_age_in_days, 0) as VPO0" [ngClass]="VPO0.class">
                    <span [innerHTML]="VPO0.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_PENTA_1, v.child_age_in_days, 42) as PENTA1"
                    [ngClass]="PENTA1.class">
                    <span [innerHTML]="PENTA1.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_VPO_1, v.child_age_in_days, 42) as VPO1" [ngClass]="VPO1.class">
                    <span [innerHTML]="VPO1.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_PENTA_2, v.child_age_in_days, 70) as PENTA2"
                    [ngClass]="PENTA2.class">
                    <span [innerHTML]="PENTA2.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_VPO_2, v.child_age_in_days, 70) as VPO2" [ngClass]="VPO2.class">
                    <span [innerHTML]="VPO2.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_PENTA_3, v.child_age_in_days, 98) as PENTA3"
                    [ngClass]="PENTA3.class">
                    <span [innerHTML]="PENTA3.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_VPO_3, v.child_age_in_days, 98) as VPO3" [ngClass]="VPO3.class">
                    <span [innerHTML]="VPO3.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_VPI_1, v.child_age_in_days, 98) as VPI1" [ngClass]="VPI1.class">
                    <span [innerHTML]="VPI1.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_VAR_1, v.child_age_in_months, 9) as VAR1" [ngClass]="VAR1.class">
                    <span [innerHTML]="VAR1.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_VAA, v.child_age_in_months, 9) as VAA" [ngClass]="VAA.class">
                    <span [innerHTML]="VAA.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_VPI_2, v.child_age_in_months, 9) as VPI2" [ngClass]="VPI2.class">
                    <span [innerHTML]="VPI2.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_MEN_A, v.child_age_in_months, 15) as MENA" [ngClass]="MENA.class">
                    <span [innerHTML]="MENA.action | safeHtml"></span>
                  </th>
                  <th *ngIf="vaccineUtils(v.vaccine_VAR_2, v.child_age_in_months, 15) as VAR2" [ngClass]="VAR2.class">
                    <span [innerHTML]="VAR2.action | safeHtml"></span>
                  </th>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
