<h1>SYNCHRONISATION DES DONNEES</h1>

<div class="nav-tabs">
  <button class="tab-link active" data-target="SYNC_ORG_UNITS">SYNC ORG-UNITS</button>
  <button class="tab-link" data-target="SYNC_DATA_STEPLY">SYNC DATA STEPLY</button>
  <button class="tab-link" data-target="INDICATORS_CALCULATION">INDICATORS CALCULATION</button>
  <button class="tab-link" data-target="FULL_SYNC_ALL">FULL SYNC ALL</button>
</div>

<!-- Contenu des vues -->
<div class="tab-content">
  <div id="SYNC_ORG_UNITS" class="view active">
    <h2>📈 Synchroniser OrgUnit, Patients and Chws</h2>
    <form [formGroup]="_orgunitFormGroup" (ngSubmit)="SYNC_ALL_ORGUNITS_AND_CONTACTS($event)" novalidate>

      <div class="row">
        <div class="input-group col-md-6">
          <select formControlName="month">
            <ng-container *ngIf="Months$.length > 0">
              <ng-container *ngFor="let m of Months$">
                <ng-container *ngIf="TODAY && m.uid <= TODAY.month">
                  <option [value]="m.id">{{ m.labelFR }}</option>
                </ng-container>
              </ng-container>
            </ng-container>
          </select>
        </div>

        <div class="input-group col-md-6">
          <select formControlName="year">
            <ng-container *ngIf="Years$.length > 0">
              <ng-container *ngFor="let y of Years$">
                <ng-container *ngIf="TODAY && y <= TODAY.year">
                  <option [value]="y">{{ y }}</option>
                </ng-container>
              </ng-container>
            </ng-container>
          </select>
        </div>
      </div>

      <br>

      <div class="row">
        <div *ngFor="let cible of SYNC_CIBLES; let index = index;" class="custom-checkbox col-md-4">
          <div>
            <input type="checkbox" id="{{ cible }}" formControlName="{{ cible }}">
          </div>
          <label for="{{ cible }}">{{ cible }}</label>
        </div>
      </div>

      <br><br>

      <button [disabled]="!_orgunitFormGroup.valid || orgunit_syncing" style="width: auto; padding-left: 20px; padding-right: 20px;" class="btn">
        Démarrer la synchronisation des OrgUnits
        <span *ngIf="orgunit_syncing" class="fas fa-1x fa-sync-alt fa-spin"></span></button>
    </form>


    <table class="table" *ngIf="OrgUnitSyncResult$">
      <thead>
        <tr>
          <th>status</th>
          <td colspan="4">{{ OrgUnitSyncResult$.status }}</td>
        </tr>

        <tr
          *ngIf="OrgUnitSyncResult$.Country|| OrgUnitSyncResult$.Region|| OrgUnitSyncResult$.Prefecture|| OrgUnitSyncResult$.Commune|| OrgUnitSyncResult$.Hospital|| OrgUnitSyncResult$.DistrictQuartier|| OrgUnitSyncResult$.VillageSecteur|| OrgUnitSyncResult$.Family|| OrgUnitSyncResult$.HospitalManager || OrgUnitSyncResult$.CommuneManager || OrgUnitSyncResult$.PrefectureManager || OrgUnitSyncResult$.RegionManager || OrgUnitSyncResult$.CountryManager || OrgUnitSyncResult$.Chw|| OrgUnitSyncResult$.Reco|| OrgUnitSyncResult$.Patient">
          <th>Cible</th>
          <th>SuccesCount</th>
          <th>ErrorCount</th>
          <th>ErrorMessage</th>
          <th>ErrorIds</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="OrgUnitSyncResult$.Country">
          <th>Country</th>
          <td>{{ OrgUnitSyncResult$.Country.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.Country.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.Country.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.Country.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.Region">
          <th>Region</th>
          <td>{{ OrgUnitSyncResult$.Region.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.Region.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.Region.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.Region.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.Prefecture">
          <th>Prefecture</th>
          <td>{{ OrgUnitSyncResult$.Prefecture.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.Prefecture.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.Prefecture.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.Prefecture.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.Commune">
          <th>Commune</th>
          <td>{{ OrgUnitSyncResult$.Commune.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.Commune.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.Commune.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.Commune.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.Hospital">
          <th>Hospital</th>
          <td>{{ OrgUnitSyncResult$.Hospital.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.Hospital.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.Hospital.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.Hospital.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.DistrictQuartier">
          <th>DistrictQuartier</th>
          <td>{{ OrgUnitSyncResult$.DistrictQuartier.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.DistrictQuartier.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.DistrictQuartier.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.DistrictQuartier.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.VillageSecteur">
          <th>VillageSecteur</th>
          <td>{{ OrgUnitSyncResult$.VillageSecteur.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.VillageSecteur.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.VillageSecteur.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.VillageSecteur.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.Family">
          <th>Family</th>
          <td>{{ OrgUnitSyncResult$.Family.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.Family.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.Family.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.Family.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.CountryManager">
          <th>CountryManager</th>
          <td>{{ OrgUnitSyncResult$.CountryManager.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.CountryManager.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.CountryManager.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.CountryManager.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.RegionManager">
          <th>RegionManager</th>
          <td>{{ OrgUnitSyncResult$.RegionManager.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.RegionManager.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.RegionManager.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.RegionManager.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.PrefectureManager">
          <th>PrefectureManager</th>
          <td>{{ OrgUnitSyncResult$.PrefectureManager.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.PrefectureManager.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.PrefectureManager.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.PrefectureManager.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.CommuneManager">
          <th>CommuneManager</th>
          <td>{{ OrgUnitSyncResult$.CommuneManager.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.CommuneManager.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.CommuneManager.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.CommuneManager.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.HospitalManager">
          <th>HospitalManager</th>
          <td>{{ OrgUnitSyncResult$.HospitalManager.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.HospitalManager.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.HospitalManager.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.HospitalManager.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.Chw">
          <th>Chw</th>
          <td>{{ OrgUnitSyncResult$.Chw.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.Chw.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.Chw.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.Chw.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.Reco">
          <th>Reco</th>
          <td>{{ OrgUnitSyncResult$.Reco.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.Reco.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.Reco.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.Reco.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.Patient">
          <th>Patient</th>
          <td>{{ OrgUnitSyncResult$.Patient.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.Patient.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.Patient.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.Patient.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.Message">
          <th>Message</th>
          <td>{{ OrgUnitSyncResult$.Message.SuccessCount }}</td>
          <td>{{ OrgUnitSyncResult$.Message.ErrorCount }}</td>
          <td>{{ OrgUnitSyncResult$.Message.ErrorElements }}</td>
          <td>{{ OrgUnitSyncResult$.Message.ErrorIds }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.validationError">
          <th>validationError</th>
          <td colspan="4">{{ OrgUnitSyncResult$.validationError }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.InnerCatch">
          <th>InnerCatch</th>
          <td colspan="4">{{ OrgUnitSyncResult$.InnerCatch }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.AxioCatch">
          <th>AxioCatch</th>
          <td colspan="4">{{ OrgUnitSyncResult$.AxioCatch }}</td>
        </tr>
        <tr *ngIf="OrgUnitSyncResult$.GlobalCatch">
          <th>GlobalCatch</th>
          <td colspan="4">{{ OrgUnitSyncResult$.GlobalCatch}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="SYNC_DATA_STEPLY" class="view">
    <h2>📊 Synchroniser Tous Formulaires</h2>
    <div>
      <form [formGroup]="_formGroup" (ngSubmit)="SYNC($event)" novalidate>
        <div class="card-body">
          <div class="row">

            <div class="col-sm-3 col-6">
              <div class="form-group">
                <label>Mois</label>
                <select class="form-control" formControlName="month">
                  <ng-container *ngIf="Months$.length > 0">
                    <ng-container *ngFor="let m of Months$">
                      <ng-container *ngIf="TODAY && m.uid <= TODAY.month">
                        <option [value]="m.id">{{ m.labelFR }}</option>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="col-sm-3 col-6">
              <div class="form-group">
                <label>Année</label>
                <select class="form-control" formControlName="year">
                  <ng-container *ngIf="Years$.length > 0">
                    <ng-container *ngFor="let y of Years$">
                      <ng-container *ngIf="TODAY && y <= TODAY.year">
                        <option [value]="y">{{ y }}</option>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="col-sm-6 col-6">
              <div class="form-group">
                <label>FORM TYPE</label>
                <select class="form-control" formControlName="cible">
                  <option value=""></option>
                  <option *ngFor="let type of FormTypes$" value="{{type}}">
                    {{ type }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>


        <div class="card-footer">
          <button [disabled]="!_formGroup.valid || data_syncing" class="btn btn-info float-right">
            Démarrer la synchronisation des formulaires
            <span *ngIf="data_syncing" class="fas fa-1x fa-sync-alt fa-spin"></span></button>
        </div>
      </form>
    </div>
    <table class="table" *ngIf="AllFormsSyncResult$">
      <thead>
        <tr *ngIf="AllFormsSyncResult$.catchErrors">
          <th>ERREUR</th>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors">
          <th>Formulaire</th>
          <th>SuccessCount</th>
          <th>ErrorCount</th>
          <th>Errors</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="AllFormsSyncResult$.catchErrors">
          <th>{{ AllFormsSyncResult$.catchErrors }}</th>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.adult">
          <th>adult</th>
          <td>{{ AllFormsSyncResult$.adult.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.adult.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.adult.Errors }}</td>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.familyPlanning">
          <th>family_planning</th>
          <td>{{ AllFormsSyncResult$.familyPlanning.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.familyPlanning.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.familyPlanning.Errors }}</td>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.pregnant">
          <th>pregnant</th>
          <td>{{ AllFormsSyncResult$.pregnant.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.pregnant.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.pregnant.Errors }}</td>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.newborn">
          <th>newborn</th>
          <td>{{ AllFormsSyncResult$.newborn.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.newborn.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.newborn.Errors }}</td>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.pcimne">
          <th>pcimne</th>
          <td>{{ AllFormsSyncResult$.pcimne.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.pcimne.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.pcimne.Errors }}</td>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.delivery">
          <th>delivery</th>
          <td>{{ AllFormsSyncResult$.delivery.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.delivery.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.delivery.Errors }}</td>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.recoMeg">
          <th>recoMeg</th>
          <td>{{ AllFormsSyncResult$.recoMeg.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.recoMeg.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.recoMeg.Errors }}</td>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.referal">
          <th>referal</th>
          <td>{{ AllFormsSyncResult$.referal.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.referal.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.referal.Errors }}</td>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.vaccination">
          <th>vaccination</th>
          <td>{{ AllFormsSyncResult$.vaccination.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.vaccination.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.vaccination.Errors }}</td>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.event">
          <th>event</th>
          <td>{{ AllFormsSyncResult$.event.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.event.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.event.Errors }}</td>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.fsMeg">
          <th>fsMeg</th>
          <td>{{ AllFormsSyncResult$.fsMeg.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.fsMeg.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.fsMeg.Errors }}</td>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.promotionalActivity">
          <th>promotionalActivity</th>
          <td>{{ AllFormsSyncResult$.promotionalActivity.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.promotionalActivity.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.promotionalActivity.Errors }}</td>
        </tr>
        <tr *ngIf="!AllFormsSyncResult$.catchErrors && AllFormsSyncResult$.death">
          <th>death</th>
          <td>{{ AllFormsSyncResult$.death.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.death.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.death.Errors }}</td>
        </tr>
        <tr *ngIf="AllFormsSyncResult$.Message">
          <th>Message</th>
          <td>{{ AllFormsSyncResult$.Message.SuccessCount }}</td>
          <td>{{ AllFormsSyncResult$.Message.ErrorCount }}</td>
          <td>{{ AllFormsSyncResult$.Message.ErrorElements }}</td>
          <td>{{ AllFormsSyncResult$.Message.ErrorIds }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="INDICATORS_CALCULATION" class="view">
    <h2>📊 Effectuer le calcul des indicateurs</h2>
    <div>
      <form [formGroup]="_calculFormGroup" (ngSubmit)="START_CALCULATION($event)" novalidate>
        <div class="card-body">
          <div class="row">

            <div class="col-sm-3 col-6">
              <div class="form-group">
                <label>Mois</label>
                <select class="form-control" formControlName="month">
                  <ng-container *ngIf="Months$.length > 0">
                    <ng-container *ngFor="let m of Months$">
                      <ng-container *ngIf="TODAY && m.uid <= TODAY.month">
                        <option [value]="m.id">{{ m.labelFR }}</option>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="col-sm-3 col-6">
              <div class="form-group">
                <label>Année</label>
                <select class="form-control" formControlName="year">
                  <ng-container *ngIf="Years$.length > 0">
                    <ng-container *ngFor="let y of Years$">
                      <ng-container *ngIf="TODAY && y <= TODAY.year">
                        <option [value]="y">{{ y }}</option>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="col-sm-6 col-6">
              <div class="form-group">
                <label>CALCULATION TYPE</label>
                <select class="form-control" formControlName="cible">
                  <option value=""></option>
                  <option *ngFor="let type of CalculationTypes$" value="{{type}}">
                    {{ type }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>


        <div class="card-footer">
          <button [disabled]="!_calculFormGroup.valid || calculation_syncing" class="btn btn-info float-right">
            Démarrer la synchronisation des formulaires
            <span *ngIf="calculation_syncing" class="fas fa-1x fa-sync-alt fa-spin"></span></button>
        </div>
      </form>
    </div>
  </div>

  <div id="FULL_SYNC_ALL" class="view">
    <h2>📊 Synchronisation total et calcul des indicateurs</h2>

    <div>
      <form [formGroup]="_fullSyncFormGroup" (ngSubmit)="FULL_SYNC_COUCHDB_DATA_AND_CALCULATION($event)" novalidate>
        <div class="card-body">
          <div class="row">

            <div class="col-sm-3 col-6">
              <div class="form-group">
                <input style="background-color: white;" style="zoom:1.5;" (change)="initFullFullSyncFormGroup()"
                  class="form-check-input" type="checkbox" formControlName="use_year_month">
                <div style="margin-left: 5px; margin-top:10px; cursor:pointer; display:inline">USE MONTH AND
                  YEAR</div>
              </div>
            </div>

            <div *ngIf="useMonthYear" class="col-sm-3 col-6">
              <div class="form-group">
                <label>Mois</label>
                <select style="background-color: white;" class="form-control" formControlName="month">
                  <ng-container *ngIf="Months$.length > 0">
                    <ng-container *ngFor="let m of Months$">
                      <ng-container *ngIf="TODAY && m.uid <= TODAY.month">
                        <option [value]="m.id">{{ m.labelFR }}</option>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
            </div>

            <div *ngIf="useMonthYear" class="col-sm-3 col-6">
              <div class="form-group">
                <label>Année</label>
                <select style="background-color: white;" class="form-control" formControlName="year">
                  <ng-container *ngIf="Years$.length > 0">
                    <ng-container *ngFor="let y of Years$">
                      <ng-container *ngIf="TODAY && y <= TODAY.year">
                        <option [value]="y">{{ y }}</option>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
            </div>

            <div *ngIf="!useMonthYear" class="col-sm-3 col-6">
              <div class="form-group">
                <label>Date Début</label>
                <input style="background-color: white;" type="date" class="form-control" formControlName="start_date">
              </div>
            </div>

            <div *ngIf="!useMonthYear" class="col-sm-3 col-6">
              <div class="form-group">
                <label>Date Fin</label>
                <input style="background-color: white;" type="date" class="form-control" formControlName="end_date">
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <button [disabled]="!_fullSyncFormGroup.valid || full_syncing" class="btn btn-info float-right">
            Démarrer la synchronisation de tous
            <span *ngIf="full_syncing" class="fas fa-1x fa-sync-alt fa-spin"></span></button>
        </div>
      </form>
    </div>
    <table *ngIf="FullSyncResult$" id="sync_chws_datatable" class="table table-bordered">
      <thead>
        <tr>
          <th>Elément</th>
          <th>SuccessCount</th>
          <th>ErrorsCount</th>
          <th>ErrorsIds</th>
          <th>ErrorsMsg</th>
        </tr>
      </thead>
      <tbody>

        <ng-container *ngIf="FullSyncResult$?.orgunit">
          <tr>
            <th style="background-color: blue;text-align: center; color: white; font-size: 18px;" colspan="5">
              OrgUnits</th>
          </tr>
          <tr *ngFor="let data of toKeyValue(FullSyncResult$?.orgunit)">
            <td>{{ data.key }}</td>
            <td class="org-unit-success">{{ data.value.SuccessCount }}</td>
            <td class="org-unit-error">{{ data.value!.ErrorCount }}</td>
            <td class="org-unit-error">{{ data.value.ErrorIds }}</td>
            <td class="org-unit-error">{{ data.value.ErrorElements }}</td>
          </tr>
        </ng-container>

        <ng-container *ngIf="FullSyncResult$?.data !== null">
          <tr>
            <th style="background-color: blue;text-align: center; color: white; font-size: 18px;" colspan="5">DATA
            </th>
          </tr>
          <tr *ngFor="let data of toKeyValue(FullSyncResult$?.data)">
            <td>{{ data.key }}</td>
            <td class="org-unit-success">{{ data.value.SuccessCount }}</td>
            <td class="org-unit-error">{{ data.value.ErrorCount }}</td>
            <td colspan="2" class="org-unit-error">{{ data.value.Errors }}</td>
          </tr>
        </ng-container>

        <ng-container *ngFor="let report of FullSyncResult$.reports; let i=index">
          <tr *ngIf="i==0">
            <th style="background-color: blue;text-align: center; color: white; font-size: 18px;" colspan="5">
              RAPPORTS</th>
          </tr>
          <tr *ngIf="report.data as dt">
            <td class="org-unit-success">{{ report.cible }}</td>
            <td class="org-unit-success">{{ dt.SuccessCount }}</td>
            <td class="org-unit-error">{{ dt.ErrorCount }}</td>
            <td colspan="2" class="org-unit-error"></td>
          </tr>
        </ng-container>


        <ng-container *ngFor="let dashboard of FullSyncResult$.dashboards; let i=index">
          <tr *ngIf="i==0">
            <th style="background-color: blue;text-align: center; color: white; font-size: 18px;" colspan="5">
              DASHBOARDS</th>
          </tr>
          <tr *ngIf="dashboard.data as db">
            <td class="org-unit-success">{{ dashboard.cible }}</td>
            <td class="org-unit-success">{{ db.SuccessCount }}</td>
            <td class="org-unit-error">{{ db.ErrorCount }}</td>
            <td colspan="2" class="org-unit-error"></td>
          </tr>
        </ng-container>


        <ng-container *ngIf="FullSyncResult$?.globalError">
          <tr>
            <th style="background-color: red;text-align: center; color: white; font-size: 18px;" colspan="5">Error
            </th>
          </tr>
          <tr colspan="3">
            <td>{{ FullSyncResult$.successDetails }}</td>
          </tr>
        </ng-container>


        <ng-container *ngIf="FullSyncResult$?.successDetails">
          <tr>
            <th style="background-color: green;text-align: center; color: white; font-size: 18px;" colspan="5">
              Success Détail
            </th>
          </tr>
          <tr *ngFor="let data of FullSyncResult$.successDetails | keyvalue">
            <td>{{ data.key }}</td>
            <td colspan="3" class="org-unit-success">{{ data.value }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>