<!-- Sidebar Start -->
<div class="sidebar pe-0 pb-0">
  <nav class="navbar bg-white navbar-white">
    <div class="app-logo">
      <a href="/">
        <img height="100" src="assets/logo/guinee.png" alt="">
      </a>
    </div>
    <div class="app-title">
      <a href="/" class="navbar-brand mx-4 mb-3">
        <h5 class="app-text-style">{{ APP_NAME }}</h5>
      </a>
    </div>

    <div class="navbar-nav w-100">
      <ng-container *ngIf="ROUTES_GROUPED.length == 1">
        <span><i class="fa fa-tachometer-alt me-2"></i><small> {{ ROUTES_GROUPED[0].group }}</small></span>
        <br>
        <a *ngFor="let route of ROUTES_GROUPED[0].routes" routerLink="{{ route.path }}"
          class="nav-item nav-link {{ activePage([route.path]) }}">
          <i class="fa fa-keyboard me-1"></i>
          <small>{{ route.label }}</small>
        </a>
      </ng-container>

      <ng-container *ngIf="ROUTES_GROUPED.length > 1">
        <ng-container *ngFor="let routesGp of ROUTES_GROUPED">
          <div *ngIf="routesGp.routes.length == 1" class="nav-item dropdown">
            <a routerLink="{{ routesGp.routes[0].path }}" class="nav-item nav-link {{ activePage([routesGp.routes[0].path]) }}">
              <i class="fa fa-keyboard me-2"></i>
              <small>{{ routesGp.routes[0].label }}</small>
            </a>
          </div>

          <div *ngIf="routesGp.routes.length > 1" class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle {{ activePage(getPaths(routesGp.routes)) }}" data-bs-toggle="dropdown">
              <i class="far fa-file-alt me-2"></i> {{ routesGp.group }}
            </a>
            <div class="dropdown-menu sidebar-dropdown bg-transparent border-0 {{ showDropdown(getPaths(routesGp.routes)) }}">
              <a *ngFor="let route of routesGp.routes" routerLink="{{ route.path }}"
                class="dropdown-item {{ activePage([route.path]) }}"><small>{{ route.label }}</small>
              </a>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </nav>
</div>
<!-- Sidebar End -->
