.checkbox-group {
  position: relative;
}

.parent-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-list {
  display: none;
  background-color: #fff;
  border: none;
  padding: 5px;
}

.checkbox-list.show {
  display: block;
}

.list-unlist {
  background: transparent !important;
  border: none !important;
  color: rgb(2, 2, 74) !important;
  cursor: pointer !important;
  font-size: 1.6rem !important;
  padding: 0px;
  margin-top: -8px;
  margin-left: 2px;
  font-weight: bolder;
  transition: color 0.3s ease-in-out !important;
  width: 15px;
  height: 15px;
}

.list-unlist:hover {
  color: darkblue !important;
}


/* ############################################################################## */




 .org-units-label {
  margin-left: 5px!important;
  cursor: pointer!important;
}

.org-units-checkbox-parent {
  margin-left: 25px!important;
  /* margin-bottom: 20px!important; */
  border-left: gray 1px dashed!important;
  padding: 0px!important;
}

.input-checkbox-group {
  /* margin-bottom: 10px!important; */
  padding: 0px!important;
  margin-bottom: 10px!important;
}

.org-units-check-input {
  margin-left: 5px!important;
  cursor: pointer!important;
}

.undeleted-user{
  background-color: white;
}

.deleted-user{
  background-color: rgb(241, 241, 241);
}

.action-checked {
  color:black;
  /* font-weight: bold; */
}

.action-unchecked {
  color:rgb(214, 213, 213);
}
