<div class="row g-4">
  <div class="col-12">
    <div class="bg-white rounded h-100 p-4">
      <div class="mb-4">
        <b style="color: black;">Utilisateurs</b>
        <button (click)="CreateUser()" style="float: right;" type="button" class="btn btn-success">
          Add User
        </button>
      </div>
      <div class="table-responsive">
        <table class="table table-white">
          <thead>
            <tr>
              <th>N°</th>
              <th>Username</th>
              <th>Full name</th>
              <th>Email</th>
              <th>Rôles</th>
              <th>Default Page</th>
              <th>IsOff</th>
              <th>IsAdmin</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody *ngFor="let user of users$; let index = index; let isFirst = first; let isOdd = odd;">
            <tr *ngIf="!isAdmin(user) || USER?.isAdmin"
              [class]="user.isDeleted == true ? 'deleted-user' : 'undeleted-user'">
              <td scope="row">{{ index+1 }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.fullname }}</td>
              <td>{{ user.email }}</td>
              <td>
                <i style="cursor: pointer;" (click)="ShowRoles(user)" role="button" data-toggle="modal"
                  data-target="#modal-show-roles">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </i>
              </td>
              <td></td>
              <!-- <td [innerHTML]="ToStringNewLine(user?.roles, 'roles') | safeHtml"></td> -->
              <td><span style="font-size: 20px; font-weight: bold;">{{user.isActive ? '' : '&#10003;'}}</span></td>
              <td><span style="font-size: 20px; font-weight: bold;">{{isAdmin(user) ? '&#10003;' : ''}}</span></td>
              <td>
                <span *ngIf="!isAdmin(user) || USER?.isAdmin"
                  style="cursor: pointer; font-size: 15px; padding: 0px 4px 0px 6px;" class="btn btn-warning"
                  (click)="EditUser(user)">
                  <i class="fas fa-edit"></i>
                </span>
              </td>
              <td>
                <span *ngIf="!isAdmin(user)" style="cursor: pointer; font-size: 12px; padding: 2px 8px 2px 8px;"
                  class="btn btn-danger" (click)="SelectUser(user)">
                  <i class="fas fa-trash-alt"></i>
                </span>
              </td>
              <td>
                <span *ngIf="isAdmin(user)" style="cursor: pointer; font-size: 15px;" class="btn-default">
                  <i class="fa fa-lock"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div *ngIf="addOrUpdateModalVisible" class="absolute-fix-modal animated fadeIn">
  <div style="width: 100%!important; height: 100%!important; background: rgba(0, 0, 0, 0.5); align-items: center!important; justify-content: center!important;display: flex;">

  <form autocomplete="off" style="width: 600px" [formGroup]="isEditMode? updateForm :registerForm"
    (ngSubmit)="isEditMode? update() :register()" novalidate class="form-horizontal">
    <div class="modal-content">
      <div class="modal-header">
        <img height="30" class="modal-title" src="{{ APP_LOGO}}" alt="" srcset="">

        <strong style="text-align: center;" class="login-box-msg"><span
            class=" btn-{{ isEditMode?'warning':'success' }}">{{ isEditMode ? 'Modifier un utilisateur'
            :'Ajouter un utilisateur' }}</span></strong>

        <button (click)="closeAddOrUpdateModalVisible()" type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p *ngIf="message!=''" class="login-box-msg"><strong>{{ message }}</strong></p>
        <div class="bg-white rounded h-0 p-4">
          <!-- <h6 class="mb-4">Basic Accordion</h6> -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-item bg-transparent">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Identifiants
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-6">

                      <div class="input-group mb-3 col-6">
                        <span class="input-group-text"><span class="fas fa-user"></span></span>
                        <input autocomplete="off" style="background-color: white;" id="username" type="text" class="form-control"
                          placeholder="Username" formControlName="username" aria-label="Username"
                          aria-describedby="basic-addon1">
                      </div>

                      <div class="input-group mb-3 col-6">
                        <span class="input-group-text"><span class="fas fa-user"></span></span>
                        <input autocomplete="off" style="background-color: white;" id="fullname" type="text" class="form-control"
                          placeholder="Full Name" formControlName="fullname" aria-label="Full Name"
                          aria-describedby="basic-addon1">
                      </div>

                      <div class="input-group mb-3 col-6">
                        <span (click)="showHidePasswordUtils()" class="input-group-text"><span class="fas fa-lock"></span></span>
                        <input autocomplete="off" style="background-color: white;" id="password" type="{{ showPassword ? 'text' : 'password' }}" class="form-control"
                          placeholder="Password" formControlName="password" aria-label="Password"
                          aria-describedby="basic-addon1">
                      </div>
                    </div>

                    <div class="col-6">

                      <div class="input-group mb-3 col-6">
                        <span class="input-group-text"><span class="fas fa-envelope"></span></span>
                        <input autocomplete="off" style="background-color: white;" id="email" type="email" class="form-control"
                          placeholder="Email" formControlName="email" aria-label="Email"
                          aria-describedby="basic-addon1">
                      </div>

                      <div class="input-group mb-3 col-6">
                        <div style="margin-left: 10px;" class="form-check">
                          <input autocomplete="off" style="zoom: 1.5;" class="form-check-input" id="isActive" type="checkbox"
                            formControlName="isActive">
                          <label style="margin-top: 10px;" class="form-check-label" for="isActive">
                            Activer
                          </label>
                        </div>
                      </div>

                      <div class="input-group mb-3 col-6">
                        <span (click)="showHidePasswordUtils()" class="input-group-text"><span class="fas fa-lock"></span></span>
                        <input autocomplete="off" style="background-color: white;" id="passwordConfirm" type="{{ showPassword ? 'text' : 'password' }}"
                          class="form-control" placeholder="Retype password" formControlName="passwordConfirm"
                          aria-label="Password Confirm" aria-describedby="basic-addon1">
                      </div>

                      <div *ngIf="passwordMatchError(isEditMode? updateForm :registerForm)" class="btn btn-danger">
                        Password does not match
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="accordion-item bg-transparent">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Rôles
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <!-- <div style="margin-left: 10px; margin-bottom: 5px;" class="form-check">
                    <input style="zoom: 1.3;" class="form-check-input" id="all-roles-checked" type="checkbox"
                      [checked]="selectedRole.length == roles$.length" (click)="SelectRoles()">
                    <label style="margin-top: 5px;cursor:pointer;" class="form-check-label" for="all-roles-checked">
                      Select All Rôles
                    </label>
                  </div> -->

                  <div
                    style="max-height: 200px; overflow-y: scroll; overflow-x: hidden; border: 1px darkblue dashed; padding: 10px;">
                    <div class="row">
                      <ng-container *ngFor="let role of roles$; let index = index;">
                        <div class="col-md-6" [ngClass]="{'custom-class': index <= roles$.length / 2}">
                          <p>
                            <input style="zoom: 1.1;" class="form-check-input" type="checkbox"
                              id="add-remove-roles-{{ role.id }}" [checked]="containsRole(role.id)"
                              (change)="AddOrRemoveRole(role.id)">
                            <label style="margin-left: 5px; cursor:pointer;" class="form-check-label"
                              for="add-remove-roles-{{ role.id }}">{{
                              role.name
                              }}</label>
                          </p>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-item bg-transparent">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Unités d'organisations
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div
                    style="max-height: 400px; overflow-y: scroll; overflow-x: hidden; border: 1px darkblue dashed; padding: 10px;">
                    <div class="org-units-checkbox-parent" *ngFor="let country of countriesList; let index = index;">
                      <aside class="input-checkbox-group">
                        <button (click)="toggleList('country-'+country.id)" type="button" class="list-unlist">
                          <span aria-hidden="true">{{ isListOpenToShow('country-'+country.id) ? '-' : '+' }}</span>
                        </button>
                        <input (change)="selectCountries(country)" class="form-check-input org-units-check-input"
                          type="checkbox" [checked]="containsOrgUnits('countries', country.id)"
                          [id]="'country-'+country.id">
                        <label class="form-check-label org-units-label" for="country-{{country.id}}">{{ country.name
                          }}</label>
                      </aside>
                      <div class="org-units-checkbox-parent checkbox-list"
                        [ngClass]="{ 'show': isListOpenToShow('country-'+country.id) }"
                        *ngFor="let region of generateRegions(country.id); let index = index;">
                        <aside class="input-checkbox-group">
                          <button (click)="toggleList('region-'+region.id)" type="button" class="list-unlist">
                            <span aria-hidden="true">{{ isListOpenToShow('region-'+region.id) ? '-' : '+' }}</span>
                          </button>
                          <input (change)="selectRegions(region)" class="form-check-input org-units-check-input"
                            type="checkbox" [checked]="containsOrgUnits('regions', region.id)"
                            id="region-{{region.id}}">
                          <label class="form-check-label org-units-label" for="region-{{region.id}}">{{
                            region.name
                            }}</label>
                        </aside>
                        <div class="org-units-checkbox-parent checkbox-list"
                          [ngClass]="{ 'show': isListOpenToShow('region-'+region.id) }"
                          *ngFor="let prefecture of generatePrefectures(region.id); let index = index;">
                          <aside class="input-checkbox-group">
                            <button (click)="toggleList('prefecture-'+prefecture.id)" type="button" class="list-unlist">
                              <span aria-hidden="true">{{ isListOpenToShow('prefecture-'+prefecture.id) ? '-' : '+'
                                }}</span>
                            </button>
                            <input (change)="selectPrefectures(prefecture)"
                              class="form-check-input org-units-check-input" type="checkbox"
                              [checked]="containsOrgUnits('prefectures', prefecture.id)"
                              id="prefecture-{{prefecture.id}}">
                            <label class="form-check-label org-units-label" for="prefecture-{{prefecture.id}}">{{
                              prefecture.name }}</label>
                          </aside>
                          <div class="org-units-checkbox-parent checkbox-list"
                            [ngClass]="{ 'show': isListOpenToShow('prefecture-'+prefecture.id) }"
                            *ngFor="let commune of generateCommunes(prefecture.id); let index = index;">
                            <aside class="input-checkbox-group">
                              <button (click)="toggleList('commune-'+commune.id)" type="button" class="list-unlist">
                                <span aria-hidden="true">{{ isListOpenToShow('commune-'+commune.id) ? '-' : '+'
                                  }}</span>
                              </button>
                              <input (change)="selectCommunes(commune)" class="form-check-input org-units-check-input"
                                type="checkbox" [checked]="containsOrgUnits('communes', commune.id)"
                                id="commune-{{commune.id}}">
                              <label class="form-check-label org-units-label" for="commune-{{commune.id}}">{{
                                commune.name }}</label>
                            </aside>
                            <div class="org-units-checkbox-parent checkbox-list"
                              [ngClass]="{ 'show': isListOpenToShow('commune-'+commune.id) }"
                              *ngFor="let hospital of generateHospitals(commune.id); let index = index;">
                              <aside class="input-checkbox-group">
                                <button (click)="toggleList('hospital-'+hospital.id)" type="button" class="list-unlist">
                                  <span aria-hidden="true">{{ isListOpenToShow('hospital-'+hospital.id) ? '-' : '+'
                                    }}</span>
                                </button>
                                <input (change)="selectHospitals(hospital)"
                                  class="form-check-input org-units-check-input" type="checkbox"
                                  [checked]="containsOrgUnits('hospitals', hospital.id)" id="hospital-{{hospital.id}}">
                                <label class="form-check-label org-units-label" for="hospital-{{hospital.id}}">{{
                                  hospital.name }}</label>
                              </aside>
                              <div class="org-units-checkbox-parent checkbox-list"
                                [ngClass]="{ 'show': isListOpenToShow('hospital-'+hospital.id) }"
                                *ngFor="let district of generateDistrictQuartiers(hospital.id); let index = index;">
                                <aside class="input-checkbox-group">
                                  <button (click)="toggleList('district-'+district.id)" type="button"
                                    class="list-unlist">
                                    <span aria-hidden="true">{{ isListOpenToShow('district-'+district.id) ? '-' : '+'
                                      }}</span>
                                  </button>
                                  <input (change)="selectDistrictQuartiers(district)"
                                    class="form-check-input org-units-check-input" type="checkbox"
                                    [checked]="containsOrgUnits('districtQuartiers', district.id)"
                                    id="district-{{district.id}}">
                                  <label class="form-check-label org-units-label" for="district-{{district.id}}">{{
                                    district.name }}</label>
                                </aside>
                                <div class="org-units-checkbox-parent checkbox-list"
                                  [ngClass]="{ 'show': isListOpenToShow('district-'+district.id) }"
                                  *ngFor="let village_secteur of generateVillageSecteurs(district.id); let index = index;">
                                  <aside class="input-checkbox-group">
                                    <input (change)="selectVillageSecteurs(village_secteur)"
                                      class="form-check-input org-units-check-input" type="checkbox"
                                      [checked]="containsOrgUnits('villageSecteurs', village_secteur.id)"
                                      id="village_secteur-{{village_secteur.id}}">
                                    <label class="form-check-label org-units-label"
                                      for="village_secteur-{{village_secteur.id}}">{{
                                      village_secteur.name }}</label>
                                  </aside>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>

      </div>
      <div class="modal-footer justify-content-between">
        <button (click)="closeAddOrUpdateModalVisible()" id="close-modal" type="button" class="btn btn-default"
          data-dismiss="modal">Fermer</button>
        <button
          [disabled]="(isEditMode? (!updateForm.valid) :(!registerForm.valid)) || OrgUnitsIsEmpty() || RolesIsEmpty()"
          type="submit" class="btn btn-{{isEditMode ? 'warning': 'success'}}">{{isEditMode ? 'Modifier':
          'Sauvegarder'}}</button>
      </div>
    </div>
  </form>
</div>

</div>

<div class="modal fade" id="modal-primary">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <img height="30" class="modal-title" src="{{ APP_LOGO}}" alt="" srcset="">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h1><span style="margin-left: 5px;">Rôles</span></h1>
            <p *ngFor="let role of roles$">
              <input type="checkbox" [checked]="containsRole(role.id)" [disabled]="true">
              <span [class]="containsRole(role.id) ? 'action-checked' : 'action-unchecked'" style="margin-left: 5px;">
                {{ role.name }}
              </span>
            </p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button id="close-modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-danger">
  <div class="modal-dialog">
    <div class="modal-content bg-danger">
      <div class="modal-header">

        <h4 class="modal-title">Suppression d'utilisateur</h4>
        <button id="close-delete-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Cette action est iréversible! Êtes vous sûr de procéder à la suppression ?

        <p class="login-box-msg"><strong>{{ message }}</strong></p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button (click)="delete()" type="button" class="btn btn-danger swalDefaultSuccess">Oui Supprimer
          !</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

