<div class="row h-100 align-items-center justify-content-center" style="height: 100%;width: 100%;padding-top: 100px;">
  <div class="col-md-6 text-center p-4">
    <i class="bi bi-exclamation-triangle display-1 text-warning"></i>
    <h1 class="display-1 fw-bold text-black">404</h1>
    <h1 class="mb-4 text-black">Page Not Found</h1>
    <p class="mb-4">We’re sorry, the page you have looked for does not exist in our website!
      Maybe go to our home page or try to use a search?</p>
    <button style="margin-right: 5px;" class="btn btn-warning rounded-pill py-3 px-5" (click)="goBack()">Previous page</button>
    <button style="margin-left: 5px;" class="btn btn-info rounded-pill py-3 px-5" (click)="logout()">Se Déconnecter</button>
  </div>
</div>
