<div style="margin: 0px 5px 0px 5px;" class="row g-4">
  <div class="col-12">
    <div class="bg-white rounded h-100 p-0">
      <!-- <h6 class="mb-4">TITRE</h6> -->

      <div>
        <div class="rounded p-6">
          <form [formGroup]="_formGroup" (ngSubmit)="SHOW_DATA($event)" novalidate>

            <div class="row">
              <!-- <div class="col-sm-2 col-xl-2">
                  <select (change)="regionsGenerate()" *ngIf="Countries$.length > 0" class="orgunit-style form-select mb-2" formControlName="country">
                    <option *ngFor="let c of countries" [value]="c.id" [selected]="isSelected(c.id, 'country')">
                      {{ c.name }}
                    </option>
                </select>
              </div>-->
              <div *ngIf="Regions$.length > 1" class="col-sm-2 col-xl-2">
                <select (change)="prefecturesGenerate()" class="orgunit-style form-select mb-2" formControlName="region">
                  <option *ngFor="let r of regions" [value]="r.id" [selected]="isSelected(r.id, 'region')">
                    {{ r.name }}
                  </option>
                </select>
              </div>
              <div *ngIf="Prefectures$.length > 1" class="col-sm-2 col-xl-2">
                <select (change)="communesGenerate()" class="orgunit-style form-select mb-2" formControlName="prefecture">
                  <option *ngFor="let p of prefectures" [value]="p.id" [selected]="isSelected(p.id, 'prefecture')">
                    {{ p.name }}
                  </option>
                </select>
              </div>
              <div *ngIf="Communes$.length > 1" class="col-sm-2 col-xl-2">
                <select (change)="hospitalsGenerate()" class="orgunit-style form-select mb-2" formControlName="commune">
                  <option *ngFor="let c of communes" [value]="c.id" [selected]="isSelected(c.id, 'commune')">
                    {{ c.name }}
                  </option>
                </select>
              </div>
              <div *ngIf="Hospitals$.length > 1" class="col-sm-2 col-xl-2">
                <select (change)="districtsGenerate()" class="orgunit-style form-select mb-2" formControlName="hospital">
                  <option *ngFor="let h of hospitals" [value]="h.id" [selected]="isSelected(h.id, 'hospital')">
                    {{ h.name }}
                  </option>
                </select>
              </div>
              <div *ngIf="DistrictQuartiers$.length > 1" class="col-sm-2 col-xl-2">
                <select (change)="recosGenerate()" class="orgunit-style form-select mb-2" formControlName="district_quartier">
                  <option *ngFor="let d of districtQuartiers" [value]="d.id"
                    [selected]="isSelected(d.id, 'district_quartier')">
                    {{ d.name }}
                  </option>
                </select>
              </div>
              <div *ngIf="Recos$.length > 1" class="col-sm-2 col-xl-2">
                <select class="orgunit-style form-select mb-2" multiple
                  formControlName="recos">
                  <option *ngFor="let r of recos" [value]="r.id" [selected]="isSelected(r.id, 'recos')">
                    {{ r.name }}
                  </option>
                </select>
              </div>
              <div *ngIf="Years$.length > 0" class="col-sm-2 col-xl-2">
                <select class="orgunit-style form-select mb-2" formControlName="year">
                    <option *ngFor="let y of Years$" [value]="y" [selected]="isSelected(y, 'year')">
                      {{ y }}
                    </option>
                </select>
              </div>
              <div *ngIf="Months$.length > 0" class="col-sm-2 col-xl-2">
                <select class="orgunit-style form-select mb-2" formControlName="months">
                    <option class="{{ isSelected(m.id, 'month') ? 'selected' : ''}}" *ngFor="let m of Months$" [value]="m.id" [selected]="isSelected(m.id, 'month')">
                      {{ m.labelFR }}
                    </option>
                </select>
              </div>
              <div class="col-sm-3 col-xl-2">
                <button style="width: 100%;" [disabled]="data_syncing" class="btn btn-info">
                  Charger
                  <span *ngIf="data_syncing" class="fas fa-1x fa-sync-alt fa-spin"></span>
                </button>
              </div>

            </div>

          </form>
        </div>
      </div>
      <div style="padding-top: 20px;" class="table-responsive">
        <h3 style="color: black;">PERFORMANCE DES RECOS</h3>

        <div class="container-fluid pt-4 px-4">
          <div class="row g-4">
            <div *ngIf="householdCount >= 0" class="col-sm-3 col-xl-3">
              <div class="bg-chart rounded d-flex align-items-center justify-content-between p-2">
                <!-- <i class="fa fa-chart-line fa-2x text-primary"></i> -->
                <div class="ms-3">
                  <h6 class="mb-2 black-color">Total Ménages</h6>
                  <h3 class="mb-0 dark-color">{{ householdCount }}</h3>
                </div>
              </div>
            </div>
            <div *ngIf="patientCount >= 0" class="col-sm-3 col-xl-3">
              <div class="bg-chart rounded d-flex align-items-center justify-content-between p-2">
                <!-- <i class="fa fa-chart-line fa-2x text-primary"></i> -->
                <div class="ms-2">
                  <h6 class="mb-2 black-color">Total Patients</h6>
                  <h3 class="mb-0 dark-color">{{ patientCount }}</h3>
                </div>
              </div>
            </div>
            <div *ngIf="newborn0To2MonthsCount >= 0" class="col-sm-3 col-xl-3">
              <div class="bg-chart rounded d-flex align-items-center justify-content-between p-2">
                <!-- <i class="fa fa-chart-area fa-2x text-primary"></i> -->
                <div class="ms-2">
                  <h6 class="mb-2 black-color">Total 0 à 2 mois</h6>
                  <h3 class="mb-0 dark-color">{{ newborn0To2MonthsCount }}</h3>
                </div>
              </div>
            </div>
            <div *ngIf="child2To60MonthsCount >= 0" class="col-sm-3 col-xl-3">
              <div class="bg-chart rounded d-flex align-items-center justify-content-between p-2">
                <!-- <i class="fa fa-chart-pie fa-2x text-primary"></i> -->
                <div class="ms-2">
                  <h6 class="mb-2 black-color">Total 2 à 60 mois</h6>
                  <h3 class="mb-0 dark-color">{{ child2To60MonthsCount }}</h3>
                </div>
              </div>
            </div>
            <div *ngIf="child5To14YearsCount >= 0" class="col-sm-3 col-xl-3">
              <div class="bg-chart rounded d-flex align-items-center justify-content-between p-2">
                <!-- <i class="fa fa-chart-bar fa-2x text-primary"></i> -->
                <div class="ms-2">
                  <h6 class="mb-2 black-color">Total 5 à 14 ans</h6>
                  <h3 class="mb-0 dark-color">{{ child5To14YearsCount }}</h3>
                </div>
              </div>
            </div>
            <div *ngIf="adultOver14YearsCount >= 0" class="col-sm-3 col-xl-3">
              <div class="bg-chart rounded d-flex align-items-center justify-content-between p-2">
                <!-- <i class="fa fa-chart-bar fa-2x text-primary"></i> -->
                <div class="ms-2">
                  <h6 class="mb-2 black-color">Total > à 14 ans</h6>
                  <h3 class="mb-0 dark-color">{{ adultOver14YearsCount }}</h3>
                </div>
              </div>
            </div>
            <div *ngIf="consultationCount >= 0" class="col-sm-3 col-xl-3">
              <div class="bg-chart rounded d-flex align-items-center justify-content-between p-2">
                <!-- <i class="fa fa-chart-bar fa-2x text-primary"></i> -->
                <div class="ms-2">
                  <h6 class="mb-2 black-color">Total consultations</h6>
                  <h3 class="mb-0 dark-color">{{ consultationCount }}</h3>
                </div>
              </div>
            </div>
            <div *ngIf="followupCount >= 0" class="col-sm-3 col-xl-3">
              <div class="bg-chart rounded d-flex align-items-center justify-content-between p-2">
                <!-- <i class="fa fa-chart-bar fa-2x text-primary"></i> -->
                <div class="ms-2">
                  <h6 class="mb-2 black-color">Total des suivis</h6>
                  <h3 class="mb-0 dark-color">{{ followupCount }}</h3>
                </div>
              </div>
            </div>
            <div *ngIf="allActionsCount >= 0" class="col-sm-3 col-xl-3">
              <div class="bg-chart rounded d-flex align-items-center justify-content-between p-2">
                <!-- <i class="fa fa-chart-bar fa-2x text-primary"></i> -->
                <div class="ms-2">
                  <h6 class="mb-2 black-color">Total des Actions</h6>
                  <h3 class="mb-0 dark-color">{{ allActionsCount }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid pt-4 px-4">
          <div class="row g-4">
            <!-- Chart Start -->
            <div class="container-fluid pt-4 px-4">
              <div class="row g-4">

                <div class="col-sm-12 col-xl-12">
                  <div class="{{ BAR_TITLE && BAR_TITLE!=='' ? 'bg-chart' : 'bg-white' }} rounded h-100 p-4">
                    <h6 class="mb-4 dark-color">{{ BAR_TITLE }}</h6>
                    <canvas id="bar-chart"></canvas>
                  </div>
                </div>

                <div class="col-sm-12 col-xl-12">
                  <div class="{{ YEAR_LINE_TITLE && YEAR_LINE_TITLE!== '' ? 'bg-chart' : 'bg-white' }} rounded h-100 p-4">
                    <h6 class="mb-4 dark-color">{{ YEAR_LINE_TITLE }}</h6>
                    <canvas id="year-line-chart"></canvas>
                  </div>
                </div>

                <div class="col-sm-12 col-xl-12">
                  <div class="{{ YEAR_BAR_TITLE && YEAR_BAR_TITLE!=='' ? 'bg-chart' : 'bg-white' }} rounded h-100 p-4">
                    <h6 class="mb-4 dark-color">{{ YEAR_BAR_TITLE }}</h6>
                    <canvas id="year-bar-chart"></canvas>
                  </div>
                </div>

                <div class="col-sm-12 col-xl-12">
                  <div class="{{ LINE_TITLE && LINE_TITLE!== '' ? 'bg-chart' : 'bg-white' }} rounded h-100 p-4">
                    <h6 class="mb-4 dark-color">{{ LINE_TITLE }}</h6>
                    <canvas id="line-chart"></canvas>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
