<kossi-modal-layout [id]="'sync-for-offline-confirm-modal'" [modalActionColor]="'light-back'" [showCloseButton]="false"
  [modalTitle]="'sync.for.offline' | translate" [cancelBtnName]="'Annuler'" [submitBtnName]="'Synchroniser'"
  [showBottomElements]="false" [showCancelButton]="true" [reloadApp]="false" [hideOnConfirm]="true"
  (onCancel)="close()">
  <div class="rounded p-4">
    <div *ngIf="errorMessage" style="color: red; text-align: center; margin: -10px 0px 10px 0px;"><b>{{ errorMessage }}</b></div>
    <form [formGroup]="_formGroup" (ngSubmit)="START_SYNC_FOR_OFFLINE($event)" novalidate>
      <!-- <select (change)="regionsGenerate()" *ngIf="Countries$.length > 0" class="orgunit-style form-select mb-2" formControlName="country">
            <option *ngFor="let c of countries" [value]="c.id" [selected]="isSelected(c.id, 'country')">
              {{ c.name }}
            </option>
        </select> -->
      <select (change)="prefecturesGenerate()" *ngIf="Regions$.length > 1"
        class="orgunit-style form-select mb-2" formControlName="region">
        <option *ngFor="let r of regions" [value]="r.id" [selected]="isSelected(r.id, 'region')">
          {{ r.name }}
        </option>
      </select>
      <select (change)="communesGenerate()" *ngIf="Prefectures$.length > 1"
        class="orgunit-style form-select mb-2" formControlName="prefecture">
        <option *ngFor="let p of prefectures" [value]="p.id" [selected]="isSelected(p.id, 'prefecture')">
          {{ p.name }}
        </option>
      </select>
      <select (change)="hospitalsGenerate()" *ngIf="Communes$.length > 1"
        class="orgunit-style form-select mb-2" formControlName="commune">
        <option *ngFor="let c of communes" [value]="c.id" [selected]="isSelected(c.id, 'commune')">
          {{ c.name }}
        </option>
      </select>
      <select (change)="districtsGenerate()" *ngIf="Hospitals$.length > 1"
        class="orgunit-style form-select mb-2" formControlName="hospital">
        <option *ngFor="let h of hospitals" [value]="h.id" [selected]="isSelected(h.id, 'hospital')">
          {{ h.name }}
        </option>
      </select>
      <select (change)="recosGenerate()" *ngIf="DistrictQuartiers$.length > 1"
        class="orgunit-style form-select mb-2" formControlName="district_quartier">
        <option *ngFor="let d of districtQuartiers" [value]="d.id" [selected]="isSelected(d.id, 'district_quartier')">
          {{ d.name }}
        </option>
      </select>
      <select *ngIf="Recos$.length > 1" class="orgunit-style form-select mb-2" multiple
        formControlName="recos">
        <option *ngFor="let r of recos" [value]="r.id" [selected]="isSelected(r.id, 'recos')">
          {{ r.name }}
        </option>
      </select>
      <select class="orgunit-style form-select mb-2" formControlName="year">
        <ng-container *ngIf="Years$.length > 0">
          <option *ngFor="let y of Years$" [value]="y" [selected]="isSelected(y, 'year')">
            {{ y }}
          </option>
        </ng-container>
      </select>
      <select class="orgunit-style form-select mb-2" multiple formControlName="months">
        <ng-container *ngIf="Months$.length > 0">
          <option class="{{ isSelected(m.id, 'month') ? 'selected' : ''}}" *ngFor="let m of Months$" [value]="m.id"
            [selected]="isSelected(m.id, 'month')">
            {{ m.labelFR }}
          </option>
        </ng-container>
      </select>
      <button [disabled]="data_syncing" class="btn btn-info">
        Synchroniser les données en local
        <span *ngIf="data_syncing" class="fas fa-1x fa-sync-alt fa-spin"></span>
      </button>
    </form>
  </div>
</kossi-modal-layout>
