.danger {
  background-color: #dc3545 !important;
  font-weight: bold;
}

.info {
  background-color: #003874 !important;
  font-weight: bold;
}

.warning {
  background-color: #824601 !important;
  font-weight: bold;
}

.success {
  background-color: #0d5426 !important;
  font-weight: bold;
}

.default {
  background-color: #323232 !important;
  font-weight: bold;
}



.snackbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  opacity: 0; /* Start with opacity 0 */
  animation: fadeIn 0.5s ease forwards; /* Apply fade-in animation */
}

.snackbar-bottom-position{
  bottom: 20px;
}

.snackbar-top-position{
  top: 100px;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Fade in and move up */
  }
}

.snackbar span {
  flex: 1;
  margin-right: 10px;
}

.snackbar button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  margin-left: 10px;
  outline: none;
}

.snackbar button:hover {
  color: #ccc;
}
