.sync-for-offline {
  margin-right: 30px;
  cursor: pointer;
  padding: 7px 10px 0px 10px;
  height: 35px;
  background-color: #004285;
  color: aliceblue;
  border-radius: 10px 5px 10px 5px;
  font-weight: bold;
}

.offline-sync {
  cursor: pointer!important;
  padding: 2px!important;
  height: 28px!important;
  background-color: #004285!important;
  color: aliceblue!important;
  border-radius: 5px!important;
  /* margin-right: 5px;
  margin-left: 5px; */
  font-size: 14px;
}

@media (min-width: 992px) {
  .sync-for-offline {
    display: block;
  }

  .offline-sync {
    display: none;
  }
}

@media (max-width: 991.99px) {
  .sync-for-offline {
    display: none;
  }

  .offline-sync {
    display: block;
  }
}

/* @media (max-width: 575.98px) {
  .sync-for-offline {
    background-color: #004285;
  }
}


@media (max-width: 765px) {
  .sync-for-offline {
    background-color: yellow;
  }
} */
