.sync-for-offline{
  margin-right: 30px;
  cursor: pointer;
  padding:7px 10px 0px 10px;
  height: 35px;
  background-color: #004285;
  color:aliceblue;
  border-radius: 10px 5px 10px 5px;
  font-weight: bold;
}
