

<ng-container *ngIf="RECOS_PERFORMANCE$">
  <h2>📊 PERFORMANCES DES RECOS</h2>
  <br>
  <app-google-loader
  [isLoading]="DASHBOARDS_HEADER.ON_FETCHING.RECOS_PERFORMANCES == true"></app-google-loader>

  <repports-header-selector
    [id]="'recos_performances-table-header'"
    [REPPORT_NAME]="DASHBOARD_NAME"
    [CHANGE_STATE]="CHANGE_STATE"
    [HIDE_ZERO_ID]="'fp-rep'"
    [TABLE_ID]="'recos_performances-table'"
    [SHOW_EXPORT_TABLE_BTN]="true">
  </repports-header-selector>


    <div style="padding-top: 10px;" class="row">
      <div *ngIf="householdCount >= 0" class="bg-chart col-md-3">
        <i class="fa fa-chart-line fa-2x text-primary"></i>
        <h6>Total Ménages</h6>
        <h3>{{ householdCount }}</h3>
      </div>
      <div *ngIf="patientCount >= 0" class="bg-chart col-md-3">
        <i class="fa fa-chart-line fa-2x text-primary"></i>
        <h6>Total Patients</h6>
        <h3>{{ patientCount }}</h3>
      </div>
      <div *ngIf="newborn0To2MonthsCount >= 0" class="bg-chart col-md-3">
        <i class="fa fa-chart-area fa-2x text-primary"></i>
        <h6>Total 0 à 2 mois</h6>
        <h3>{{ newborn0To2MonthsCount }}</h3>
      </div>
      <div *ngIf="child2To60MonthsCount >= 0" class="bg-chart col-md-3">
        <i class="fa fa-chart-pie fa-2x text-primary"></i>
        <h6>Total 2 à 60 mois</h6>
        <h3>{{ child2To60MonthsCount }}</h3>
      </div>
      <div *ngIf="child5To14YearsCount >= 0" class="bg-chart col-md-3">
        <i class="fa fa-chart-bar fa-2x text-primary"></i>
        <h6>Total 5 à 14 ans</h6>
        <h3>{{ child5To14YearsCount }}</h3>
      </div>
      <div *ngIf="adultOver14YearsCount >= 0" class="bg-chart col-md-3">
        <i class="fa fa-chart-bar fa-2x text-primary"></i>
        <h6>Total > à 14 ans</h6>
        <h3>{{ adultOver14YearsCount }}</h3>
      </div>
      <div *ngIf="consultationCount >= 0" class="bg-chart col-md-3">
        <i class="fa fa-chart-bar fa-2x text-primary"></i>
        <h6>Total consultations</h6>
        <h3>{{ consultationCount }}</h3>
      </div>
      <div *ngIf="followupCount >= 0" class="bg-chart col-md-3">
        <i class="fa fa-chart-bar fa-2x text-primary"></i>
        <h6>Total des suivis</h6>
        <h3>{{ followupCount }}</h3>
      </div>
      <div *ngIf="allActionsCount >= 0" class="bg-chart col-md-3">
        <i class="fa fa-chart-bar fa-2x text-primary"></i>
        <h6>Total des Actions</h6>
        <h3>{{ allActionsCount }}</h3>
      </div>
    </div>


  <div *ngIf="this.RECOS_PERFORMANCE$?.lineChart?.datasets?.length! > 0"
    class="display: block;">

    <select id="bar-chart-select" multiple></select>
    <h6 class="mb-4 dark-color">{{ BAR_TITLE }}</h6>
    <canvas id="bar-chart"></canvas>
  </div>

  <div *ngIf="this.RECOS_PERFORMANCE$?.barChart?.datasets?.length! > 0"
    class="display: block;">

    <!-- <select id="year-line-chart-select" multiple></select> -->
    <h6 class="mb-4 dark-color">{{ YEAR_LINE_TITLE }}</h6>
    <canvas id="year-line-chart"></canvas>
  </div>

  <div *ngIf="this.RECOS_PERFORMANCE$?.yearBarChart?.datasets?.length! > 0"
    class="display: block;">

    <!-- <select id="year-bar-chart-select" multiple></select> -->
    <h6 class="mb-4 dark-color">{{ YEAR_BAR_TITLE }}</h6>
    <canvas id="year-bar-chart"></canvas>
  </div>

  <!-- <div *ngIf="this.RECOS_PERFORMANCE$?.yearLineChart?.datasets?.length! > 0"
    class="display: block;">

    <select id="line-chart-select" multiple></select>
    <h6 class="mb-4 dark-color">{{ LINE_TITLE }}</h6>
    <canvas id="line-chart"></canvas>
  </div> -->

</ng-container>



<ng-container *ngIf="!RECOS_PERFORMANCE$">
  <h1 style="margin-top: 150px; width: 100%; text-align: center; color:brown;">
    Pas de données, appliquer le filtre !
  </h1>
</ng-container>