<div style="margin: 0px!important; padding: 0px!important;" *ngIf="REPPORTS_HEADER as h" class="row">

  <p class="col-12"><img class="repport-logo" src="assets/logo/guinee.png" alt="GUINEE LOGO"></p>
  <p class="col-12" *ngIf="h.LOGO_TITLE1"><strong>{{ h.LOGO_TITLE1 }}</strong></p>
  <p class="col-12" *ngIf="h.LOGO_TITLE2"><strong>{{ h.LOGO_TITLE2 }}</strong></p>
  <p class="col-12" *ngIf="h.LOGO_TITLE3"><strong>{{ h.LOGO_TITLE3 }}</strong></p>
  <p class="col-12" *ngIf="h.REPPORT_TITLE" class="repport-title">{{ h.REPPORT_TITLE }}</p>
  <p class="col-12" *ngIf="h.REPPORT_SUBTITLE" class="repport-title">{{ h.REPPORT_SUBTITLE }}</p>

  <p class="col-4" *ngIf="h.CAN_VISIBLE && h.REGION_NAME">
    <!-- <i [innerHTML]="WHITE_SPACE"></i> -->
    IRS/DRS DE: <b [innerHTML]="h.REGION_NAME"></b>
  </p>
  <p class="col-4" *ngIf="h.CAN_VISIBLE && h.PREFECTURE_NAME">
    DPS/DCS DE: <b [innerHTML]="h.PREFECTURE_NAME"></b>
  </p>

  <p class="col-4" *ngIf="h.CAN_VISIBLE && h.COMMUNE_NAME">
    COMMUNE DE: <b [innerHTML]="h.COMMUNE_NAME"></b>
  </p>

  <p class="col-4" *ngIf="h.CAN_VISIBLE && h.HEALTH_CENTER_NAME">
    CENTRE DE SANTE: <b [innerHTML]="h.HEALTH_CENTER_NAME"></b>
  </p>

  <p class="col-4" *ngIf="h.CAN_VISIBLE && h.DISTRICT_QUARTIER_NAME">
    DISTRICT/QUARTIER: <b [innerHTML]="h.DISTRICT_QUARTIER_NAME"></b>
  </p>

  <p class="col-4" *ngIf="h.CAN_VISIBLE && h.VILLAGE_SECTEUR_NAME">
    VILLAGE/SECTEUR: <b [innerHTML]="h.VILLAGE_SECTEUR_NAME"></b>
  </p>

  <p class="col-4" *ngIf="h.CAN_VISIBLE && h.VILLAGE_CHIEF_NAME">
    NOM CHEF VILLAGE: <b [innerHTML]="h.VILLAGE_CHIEF_NAME"></b>
  </p>

  <p class="col-4" *ngIf="h.CAN_VISIBLE && h.VILLAGE_CHIEF_CONTACT">
    CONTACT CHEF VILLAGE: <b [innerHTML]="h.VILLAGE_CHIEF_CONTACT"></b>
  </p>

  <p class="col-4" *ngIf="h.CAN_VISIBLE && h.RECO_ASC_TYPE && h.RECO_ASC_NAME">
    NOM DU {{ h.RECO_ASC_TYPE }} <b [innerHTML]="h.RECO_ASC_NAME"></b>
  </p>

  <p class="col-4" *ngIf="h.CAN_VISIBLE && h.MONTH && h.YEAR">
    MOIS/ANNEE: <b [innerHTML]="h.MONTH + ' / ' + h.YEAR"></b>
  </p>

  <p class="col-4" *ngIf="h.CAN_VISIBLE && h.RECO_ASC_PHONE">
    TEL: <b [innerHTML]="h.RECO_ASC_PHONE"></b>
  </p>

  <br>

  <div style="text-align: left!important;width: 100%!important;" *ngIf="h.CAN_VISIBLE" class="validate-data col-12">
      <button [disabled]="" (click)="h.IS_VALIDATED ? cancelValidation($event) :validateData($event)" style="width: auto;" class="submitBtn {{ h.IS_VALIDATED ? 'btn btn-info' : 'btn-warning' }}">
        {{ h.IS_VALIDATED ? 'Annuler ce rapport deja validé' : 'Valider ce rapport' }}
        <span *ngIf="h.ON_VALIDATION" class="fas fa-1x fa-sync-alt fa-spin"></span>

      <!-- <a *ngIf="h.IS_VALIDATED" href="" style="color: brown;text-decoration: none; margin-left: 3px; border-radius: 5px; background: white; padding: 2px; cursor: pointer; position: relative; z-index: 9999;">Annuler</a> -->

      </button>

      <!-- <div style="display: inline-flex; align-items: center;">
        <button
          [disabled]="h.IS_VALIDATED"
          (click)="validateData($event)"
          class="submitBtn {{ h.IS_VALIDATED ? 'btn btn-success' : 'btn btn-warning' }}"
          style="width: auto;margin-right: 0px;"
        >
          {{ h.IS_VALIDATED ? 'Rapport déjà validé' : 'Valider ce rapport' }}
          <span *ngIf="h.ON_VALIDATION" class="fas fa-1x fa-sync-alt fa-spin"></span>
        </button>

        <a
          *ngIf="h.IS_VALIDATED"
          (click)="cancelValidation($event)"
          class="submitBtn {{ h.IS_VALIDATED ? 'btn btn-success' : '' }}"
          style="color: brown; text-decoration: none; margin-left: 0px; border-radius: 0px 5px 5px 0px; padding: 4px 8px; cursor: pointer; font-size: 10px;"
        >
          Annuler
        </a>
      </div> -->


    <button *ngIf="h.IS_VALIDATED" [disabled]="h.ON_DHIS2_SENDING || h.IS_ALREADY_ON_DHIS2" (click)="sendDataToDhis2($event)" style="width: auto;" class="submitBtn {{ h.IS_ALREADY_ON_DHIS2 ? 'btn btn-info' : 'btn-warning' }}">
      {{ h.IS_ALREADY_ON_DHIS2 ? 'Modifier sur DHIS2' : 'Envoyer au DHIS2' }}
      <span *ngIf="h.ON_DHIS2_SENDING" class="fas fa-1x fa-sync-alt fa-spin"></span>
    </button>
  </div>

  <!-- <div class="animated fadeIn" id="modal-logout-reload">
    <div class="modal-header {{ modalActionColor }}">
     <h4 class="modaltitle {{ modalActionColor }}">{{ modalTitle }}</h4>
     <button *ngIf="showCloseButton == true" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
     </button>
    </div>

    <div class="modal-body"><ng-content></ng-content></div>

    <div *ngIf="showBottomElements == true" class="modal-footer">
     <p class="modal-error" *ngIf="error || errorMsg">{{ error||errorMsg }}</p>
     <button *ngIf="showCancelButton == true" class="btn grey-back" mat-button
      [class.disabled]="processing == true" (click)="cancel()" test-id="cancel">{{ (cancelBtnName || 'Cancel')
      }}</button>
     <button class="flat-button btn {{ isFlatButton == true ? 'mat-flat-button' : modalActionColor }}"
      [class.disabled]="processing == true" (click)="submit()" color="primary">
      {{ (submitBtnName || 'Confirm')}}
      <app-spinner style="margin-left: 10px;" [isLoading]="processing == true"></app-spinner>
     </button>
    </div>
   </div> -->
</div>
